body{
  background-color:rgba(0, 0, 0, 0.575);
}

#blog {
  width: 80vw;
  margin: 10px auto;
  padding: 20px;
  background-color: rgba(190, 190, 190, 0.904);
}
  
  h1 {
    width: fit-content;
    background-color: rgb(40, 41, 40);
    padding: 0px 20px;
    padding-bottom: 5px;
    border-radius: 20px;
    color: white;
  }
  
  #img-cont {
    margin: 3vh;
    display: flex;
    justify-content: center;
  }
  img {
    padding: 10px;
    width: 50vw;
  
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
   
    color: #fff;
  }
  form {
    display: inline;
  }
  
  #content {
    white-space: pre-wrap;
    font-size: 15px;
  }
  #comment-section{
    height:20vh;
    width:55vw;
  
    overflow-y:hidden;
  }

  #comment-create-cont{
    display:flex;
    margin-top:4vh;
  }
  #input-cont{
    margin-top:2vh;
    width:40vw;
  }

  h2{
    margin-top: 30px;
  }
  
  h5{
    margin:0;
    display:inline;
  }
  
  #comm-display-cont{
    display:flex;
  }
  
  @media screen and (max-width: 600px) {
    #blog {
      width: 100%;
    }
    img {
      width: 100vw;
    }
  }
  