#blog {
  width: 80vw;
  margin: 10px auto;
  padding: 20px;
 }

h1 {
  width: fit-content;
  background-color: rgb(40, 41, 40);
  padding: 10px;
  color: white;
}

#img-cont {
  margin: 3vh;
  display: flex;
  justify-content: center;
}
img {
  padding: 10px;
  width: 50vw;

  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}

form {
  display: inline;
}

#content {
  white-space: pre-wrap;
  font-size: 1.45rem;
}

@media screen and (max-width: 600px) {
  #blog {
    width: 100%;
  }
  img {
    width: 100vw;
  }
}
