<%- include('partials/p1.ejs') %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/new.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <form method="POST">
      <div id="form-cont">
        <div class="mb-3">
          <label for="Title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input type="text" class="form-control" name="image" />
        </div>

        <div class="mb-3">
          <label for="author" class="form-label"> Author</label>
          <input type="text" class="form-control" name="author" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="content">Blog Content:</label>
          <textarea rows="10" name="content" class="form-control"> </textarea>
        </div>
        <input type="submit" class="btn btn-primary" />
      </div>
    </form>
  </body>
</html>
